// Overrides to bootstrap !defaults
$bootstrap: (
    'normalize': true,
    'grid': true,
    'type': false,
    'images': false,
    'code': false,
    'forms': true,
    'buttons': false,
    'transitions': true,
    'dropdown': false,
    'button-group': true,
    'input-group': true,
    'custom-forms': true,
    'nav': false,
    'navbar': false,
    'card': false,
    'breadcrumb': false,
    'pagination': false,
    'badge': true,
    'jumbotron': false,
    'alert': false,
    'progress': false,
    'media': false,
    'list-group': false,
    'close': true,
    'modal': false,
    'tooltip': false,
    'popover': false,
    'carousel': false,
    'utilities': true,
    'print': false,
);