// Overrides to bootstrap !defaults
$bootstrap: (
    'normalize': false,
    'grid': false,
    'type': false,
    'images': false,
    'code': false,
    'forms': false,
    'buttons': false,
    'transitions': false,
    'dropdown': false,
    'button-group': false,
    'input-group': false,
    'custom-forms': false,
    'nav': false,
    'navbar': false,
    'card': false,
    'breadcrumb': false,
    'pagination': false,
    'badge': false,
    'jumbotron': false,
    'alert': false,
    'progress': false,
    'media': false,
    'list-group': false,
    'close': false,
    'modal': false,
    'tooltip': false,
    'popover': false,
    'carousel': false,
    'utilities': (
        'align': false,
        'background': false,
        'borders': false,
        'display': false,
        'embed': false,
        'flex': false,
        'position': false,
        'screenreaders': false,
        'shadows': false,
        'sizing': false,
        'spacing': false,
        'text': false,
        'visibility': false,
    ),
    'print': false,
);